.nosotros {
  font-family: roboto;
  background-color: $colorFondo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 86px auto auto;
  grid-template-areas:
    "nav nav"
    "main main"
    "foot foot";
  .nosotros_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .nosotros_info {
      padding: 5px;
      font-size: 1.2em;
      text-align: justify;
    }
    .video {
      display: flex;
      justify-content: center;
      padding: 10px;
      align-items: center;
    }
  }
}