@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

:root {
  --colorPrincipal: #a24fb5;
  --colorFondo: #f7e7fe;
  --colorLegend: #db68f5a1;
  --colorInputs: rgb(121, 13, 168);
  --colorHover: #e3cae8;
}

* {
  margin: 0;
  padding: 0;
}

.contenedor {
  font-family: roboto;
  background-color: var(--colorFondo);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 86px auto auto;
  grid-template-areas:
    "nav nav"
    "main main"
    "foot foot";
}

/* *  NavBar */
.menu {
  padding: 0;
  grid-area: nav;
}

nav {
  background-color: var(--colorPrincipal);
  color: white;
  width: 100%;
  position: absolute;
}

nav .mobile {
  display: none;
  z-index: 10;
}

nav .mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

nav .mobile .header .more button {
  border: none;
  background-color: var(--colorPrincipal);
  color: white;
  padding: 15px;
  cursor: pointer;
}

nav .mobile .header .more button span {
  font-size: 3em;
}

.collapsed {
  display: none;
}

nav .logo {
  min-width: 250px;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  font-weight: 500;
}

nav a:hover {
  color: black;
  background-color: #e3cae8;
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
  display: flex;
}

nav .desktop .secondary.mini {
  display: none;
}

/* * Foot */
footer {
  grid-area: foot;
  background-color: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer_content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer_content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: #a24fb5;
}

.footer_bottom {
  background-color: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer_bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer_bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* * Index - Nav y Foot se usan en todos*/

/* Main */
main {
  grid-area: main;
}

h2 {
  text-align: center;
}

section {
  padding: 10px;
}
/* Descripcion */
.descripcion {
  display: grid;
  background-image: url(https://s0.hfdstatic.com/sites/the_hartford/pubimgs/1444706361843.jpg?v=2020-12-30_09124757);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo Name"
    "logo descripcion";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.descripcion_logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descripcion_logo img {
  border-radius: 20px;
  border: 2px solid;
}

.descripcion_nombre {
  display: flex;
  color: black;
  font-size: 2.8em;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  margin-top: 5px;
  background-color: #a24fb5dc;
  border-radius: 45px;
  border-bottom: 3px solid black;
}

.descripcion_parrafo {
  grid-area: descripcion;
  border: 1.5px dashed;
  color: black;
  background-color: #e3cae8;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

/* Servicios */
.servicios {
  padding: 5px;
  margin-top: 5px;
}

.servicios h2 {
  border-bottom: 2px solid black;
}

.servicios_contenedor ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.servicios_contenedor ul li {
  list-style: none;
  font-size: 20px;
  padding: 0 5px 0 10px;
  margin: 5px;
  text-align: center;
}

/* Clientes */
.clientes_index {
  margin-top: 5px;
}

.clientes_index h2 {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

article h3 {
  text-decoration: underline;
  font-size: 20px;
  padding: 2px;
}

article p {
  padding: 10px;
  text-align: center;
  margin: 5px;
}

article img {
  max-width: 90%;
  border-radius: 25px;
}

#cliente1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "nombre img"
    "descripcion img";
  justify-items: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.cliente1_img {
  grid-area: img;
}

#cliente2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "img nombre"
    "img descripcion";
  justify-items: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.cliente2_img {
  grid-area: img;
}

/* Ubicacion */
.ubicacion h2 {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

.mapa {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

/* * Pagina Galeria - Nav y Foot se usan en todas */
.galeria {
  font-family: roboto;
  background-color: var(--colorFondo);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 86px auto auto;
  grid-template-areas:
    "nav"
    "main"
    "foot";
}

.galeria_contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "c1 c1 c2"
    "c1 c1 c3"
    "c4 c5 c6"
    "c7 c8 c6";
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.img_contenedor {
  overflow: hidden;
}

.galeria_img1 {
  grid-area: c1;
}

.galeria_img {
  max-width: 100%;
  padding: 5px;
  transition: 0.5s;
}

.galeria_img:hover {
  transform: scale(1.15);
}

.galeria_img5 {
  grid-area: c6;
}

/* * Pagina de Contacto - Nav y Foot se usan en todos */

/* Forms */
legend {
  padding: 5px 10px;
  background-color: var(--colorLegend);
  color: white;
}

input {
  padding: 4px;
  margin: 5px;
}

fieldset {
  padding: 10px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid var(--colorInputs);
}
input[type="number"] {
  border: none;
  border-bottom: 2px solid var(--colorInputs);
}
input[type="tel"] {
  border: none;
  border-bottom: 2px solid var(--colorInputs);
}
input[type="email"] {
  border: none;
  border-bottom: 2px solid var(--colorInputs);
}

select {
  padding: 2px;
  border: rgb(121, 13, 168);
  border-radius: 10px;
}

/* Contenedor - Contacto */
.contacto {
  font-family: roboto;
  background-color: var(--colorFondo);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 86px auto auto;
  grid-template-areas:
    "nav nav nav"
    "main form back"
    "foot foot foot";
}

.formulario {
  grid-area: form;
}

/* * Pagina About Us - Nav y Foot se usan en todos*/
.nosotros_info {
  padding: 5px;
  font-size: 1.2em;
  text-align: justify;
}

.video {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.nosotros {
  font-family: roboto;
  background-color: var(--colorFondo);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 86px auto auto;
  grid-template-areas:
    "nav nav"
    "main main"
    "foot foot";
}

.nosotros_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* * Pagina Clientes - Nav y Foot se usan en todos */
.contenedor_clientes {
  font-family: roboto;
  background-color: var(--colorFondo);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 86px auto auto;
  grid-template-areas:
    "nav nav"
    "main main"
    "foot foot";
}

.clientes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 300px auto;
  grid-template-areas:
    "name name"
    "oldimg newimg"
    "desc desc";
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cliente_img {
  width: 90%;
  padding: 10px;
  transition: 1s;
}

.cliente_img:hover{
  transform: scale(1.1) skew(15deg);
}

.cliente_old {
  grid-area: oldimg;
}
.cliente_new {
  grid-area: newimg;
}
.cliente_nombre {
  margin: 5px;
  background-color: var(--colorPrincipal);
  border-radius: 25px;
  grid-area: name;
}
.cliente_descripcion {
  grid-area: desc;
  padding: 10px;
  font-size: 1.1rem;
}

/* Media Queries */

/* Tablet */
@media screen and (max-width: 820px) {
  nav .logo {
    min-width: 100px;
  }

  nav .secondary.full {
    display: none;
  }

  nav .secondary.mini {
    display: block !important;
  }

  nav .secondary.mini .submenu {
    background-color: #a24fb5;
    position: absolute;
    display: none;
    width: 175px;
    right: 0;
  }

  nav .secondary.mini:hover .submenu {
    display: block;
  }

  .nosotros_content {
    flex-direction: column;
  }

  .clientes {
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto auto auto;
    grid-template-areas:
      "name"
      "oldimg"
      "newimg"
      "desc";
  }

  .contenedor_clientes {
    grid-template-columns: 1fr;
    grid-template-rows: 86px auto auto auto;
    grid-template-areas:
      "nav"
      "main"
      "main"
      "foot";
  }
}

/* Mobil */
@media screen and (max-width: 650px) {
  nav .desktop {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  .descripcion {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "logo"
      "name"
      "descripcion";
  }

  #cliente1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nombre"
      "descripcion"
      "img";
    justify-items: center;
    align-items: center;
  }

  #cliente2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nombre"
      "descripcion"
      "img";
    justify-items: center;
    align-items: center;
  }

  .galeria_contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "c1 c1"
      "c1 c1"
      "c2 c3"
      "c4 c6"
      "c5 c6"
      "c7 c8";
    justify-items: center;
    align-items: center;
    gap: 10px;
  }

  .contacto {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "form"
      "foot";
  }

  form {
    padding: 10px;
  }

  .video iframe{
    width: 100%;
  }
}
